{% extends 'layout.html' %}

{% block content %}

<section class="skills" style="min-height: 50vh;">
    <h2 class="section-title primary-color">A propos de moi</h2>
    <hr class="primary-border mb-3">

    <p class="text-justify">
        Je m'appelle <span class="primary-color">Gislain Carino Rodrigue BOUDI</span>, diplôme de <span class="primary-color">Master en Génie Informatique</span> a l'université de Toamasina sous l'encadrement de Monsieur <a href="">Jérôme VELO</a> Dr HDR a l'université de Toamasina.
    </p>

    <p class="text-justify">
        Je suis un développeur Web <span class="primary-color">PHP Full-Stack</span>. Je développe une application PHP depuis plus de cinq (05) ans, ou trois (03) ans dans le milieu professionnel. J'ai <span class="primary-color">trois (03) ans d'expérience en développement Back-end et 2 ans en développement Front-end</span>. J'aime apprendre des nouvelles technologies et de m'évoluer dans le domaine de l'informatique. J'aime travailler en équipe et de faire mon maximum pour aider mes co-équipiers. J'aime aussi partager mes expériences et mes compétences en tant que développeur, par exemple j'ai forme 25 personnes en développement Laravel en 2022 durant OpenDays 9-ème édition chez ONG JADE Toamasina. 
        Je suis passionne du monde de l'intelligence artificielle même si ce n'est pas mon domaine principal, et j'envisagerai pour le futur de m'investir pour l'apprendre.
    </p>

    <p class="text-justify">
        Mes compétences techniques sont disponibles ici section « Mes compétences ». J'ai les compétences additionnelles suivantes :
        <ul style="line-height: 1.5;">
            <li><span class="primary-color">Compétence en Base de données relationnelle :</span>  conception (Merise et UML), requêtes complexes, jointures. J'utilise une base de données MySQL.</li>
            <li><span class="primary-color">Méthodologies agiles :</span> connaissance de la méthodologie de travail Agile Scrum afin de faciliter la gestion de projet.</li>
            <li><span class="primary-color">Outils de collaboration :</span> maitrise de Git et GitHub pour suivre l'évolution de l'application et faciliter le travail en équipe (GitFlow)</li>
            <li><span class="primary-color">Connaissance de Docker :</span> connaissance de conteneurisation d'une application afin de faciliter son installation sur un autre système ou serveur.</li>
            <li><span class="primary-color">Notion de base de Wordpress :</span> je peux développer un site simple avec WordPress et Elementor.</li>
        </ul>
    </p>

    <p class="text-justify">
        Au niveau de langue, je suis intermédiaire en français et en anglais (oral et écrit). Je peux communiquer clairement, expliquer et défendre mes idées. J'essaye de m'améliorer pour atteindre un niveau plus avance.
    </p>
</section>

<section class="skills" style="background: var(--secondary-color);">
    <h2 class="section-title primary-color">Mes parcours academiques</h2>
    <hr class="primary-border mb-3">

    <div class="grid mb-3">
        <div class="skill grid-item">
            <div class="skill-content">
                <h2 class="skill-object">2022 - 2023</h2>
                <h1 class="skill-title">Master en Genie Informatique</h1>
                <h2 class="skill-object">Universite de Toamasina</h2>
                <p class="skill-description">
                    J'ai eu des améliorations vis à vis de mes capacités à faire des recherches, à être plus autodidacte, de faire une rédaction scientifique, de présenter mes idées.
                </p>
            </div>
        </div>

        <div class="skill grid-item">
            <div class="skill-content">
                <h2 class="skill-object">2019 - 2020</h2>
                <h1 class="skill-title">Licence en Informatique</h1>
                <h2 class="skill-object">Universite de Toamasina</h2>
                <p class="skill-description">
                    J'ai acquis les capacités à concevoir une BDD, analyser et résoudre des problèmes, sans oublier les connaissances en comptabilité et en Math.
                </p>
            </div>
        </div>

        <div class="skill grid-item">
            <div class="skill-content">
                <h2 class="skill-object">2015 - 2016</h2>
                <h1 class="skill-title">Baccalaureat Serie C</h1>
                <h2 class="skill-object">Lycee Jacques RABEMANANJARA</h2>
                <p class="skill-description">
                    
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}